[submodule "modules/zotero-schema"]
	path = modules/zotero-schema
	url = https://github.com/zotero/zotero-schema.git
[submodule "modules/zotero-utilities"]
	path = modules/zotero-utilities
	url = https://github.com/tnajdek/zotero-utilities.git
